<head>

  <%= stylesheet_link_tag "stylesheet" %>
  
</head>

<body>

  <div>
    <ul class="nav">
      <li class="nav"><a class="nav" href="/">Home</a></li>
      <li class="nav"><a class="nav" href="/gods/">Gods</a></li>
      <li class="nav"><a class="nav active" href="/monsters/">Monsters</a></li>
    </ul>
  </div>

<h1>All Monsters</h1>

<% @monsters.each do |monster| %>
  <h2><%= monster.name %></h2>
<% end %>
</body>