<head>

  <%= stylesheet_link_tag "stylesheet" %>
</head>


<body>

  <div>
    <ul class="nav">
      <li class="nav"><a class="nav" href="/">Home</a></li>
      <li class="nav"><a class="nav active" href="/gods/">Gods</a></li>
      <li class="nav"><a class="nav" href="/monsters/">Monsters</a></li>
    </ul>
  </div>

  <h1>Recognize a new God</h1>

  <form action="/gods" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <p>Name this God:</p>
    <input type='text' name='god[name]'><br>
    <p>How old is this being? (millions of years)</p>
    <input type='integer' name='god[age]'><br>
    <p>Does your God suffer the frailty of mortality, or the curse of eternal life?</p>
    <input type='radio' id='mortal' name='god[immortal]' value='0'>
    <label for='false'>Mortal</label><br>
    <input type='radio' id='immortal' name='god[immortal]' value='1'>
    <label for='true'>Immortal</label><br><br>
    <input type='submit'>
  </form>

</body>
