<doctype: "HTML">

<h1>Gods & Monsters</h1>

<ul>
  <li><a href="/gods/">Gods</a></li>
  <li><a href="/gods/new">Recognize another God</a></li>
  <li><a href="/monsters/">Monsters</a></li>
  <li><a href="/monsters/new">Summon a Monster</a></li>
  
</ul>