<head>

  <%= stylesheet_link_tag "stylesheet" %>

</head>

<body>

  <div>
    <ul class="nav">
      <li class="nav"><a class="nav active" href="/">Home</a></li>
      <li class="nav"><a class="nav" href="/gods/">Gods</a></li>
      <li class="nav"><a class="nav" href="/monsters/">Monsters</a></li>
    </ul>
  </div>

  <main style="text-align: center; padding:30px">
    <h1>Welcome to Gods and Monsters</h1>
    <h3 >Use the navigation buttons at the top to view the creatures held within.</h3>
  </main>
</body>