<doctype: "HTML">

<h1>Gods & Monsters</h1>

<ul>
  <li><a href="/gods/">Gods</a></li>
  <li><a href="/gods/new">Birth a God</a></li>
  <li><a href="/monsters/">Monsters</a></li>
  <li><a href="/monsters/new">Spawn a Monster</a></li>
  
</ul>